<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<appSettings>
		<!-- DbAdapter: The database adapter to use, currently "sqlite" or "inmemory". -->
		<add key="DbAdapter" value="sqlite" />
		<!-- DbName: The database name to use.
		             For the SQLite adapter this is the filename.
		             For in-memory storage this doesn't matter, as long as it's not empty. -->
		<add key="DbName" value="bulkr.sqlite" />
	</appSettings>
</configuration>